[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biglasso"]
	path = biglasso
	url = https://github.com/pbreheny/biglasso
[submodule "grpreg"]
	path = grpreg
	url = https://github.com/pbreheny/grpreg
[submodule "ncvreg"]
	path = ncvreg
	url = https://github.com/pbreheny/ncvreg
[submodule "visreg"]
	path = visreg
	url = https://github.com/pbreheny/visreg
